<p>
  my-excel works!
</p>
<br>
<!-- <button (click)="download()">download pdf </button> -->

<input type="file" (change)="onFileChange($event)" multiple="false" />
<table border="1" class="mmm">
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
<button (click)="export()">download excel</button>